<aside class="sidebar bg-light border-end">
    <nav class="sidebar-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" id="dashboardLink">
                    <i class="fas fa-chart-line"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/presupuesto" id="presupuestoLink">
                    <i class="fas fa-calculator"></i> Presupuesto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transacciones" id="transaccionesLink">
                    <i class="fas fa-exchange-alt"></i> Transacciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reportes" id="reportesLink">
                    <i class="fas fa-file-pdf"></i> Reportes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tarjetas" id="tarjetasLink">
                    <i class="fas fa-credit-card"></i> Tarjetas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inversiones" id="inversionesLink">
                    <i class="fas fa-chart-pie"></i> Inversiones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/metas" id="metasLink">
                    <i class="fas fa-flag"></i> Metas de Ahorro
                </a>
            </li>
            
            <li class="nav-divider my-3"></li>
            
            <li class="nav-item">
                <a class="nav-link" href="/configuracion">
                    <i class="fas fa-cog"></i> Configuración
                </a>
            </li>
        </ul>
    </nav>
</aside>
